
.container {
	display: flex;
	height: 100vh;
}

.mainContent {
	flex: 1;
	margin-left: 15%;
	padding: 32px;
	background: #fff;
	overflow-y: auto;
	/* Ocultar scrollbar pero mantener funcionalidad */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.mainContent::-webkit-scrollbar {
	display: none; /* Safari y Chrome */
}
